<!-- <div class="text-block" class="BGlogout">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"> 
    <img src="assets/images/logos/logo.svg" style="width:20px;height:40px;background-color: white; " />
   <span class="text">ONPASSIVE NET</span>
    </div>


    <div class="text-logout" class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <h1 class="logout-text">Logout </h1>
        <hr size="1" width="9000%" color="white">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <h1 class="title">You have been successful logged out</h1>
            <button class="btn" type="button">Click here to continue...</button> 
    </div> 
</div> -->


<div  class="BGlogout" >

    <div class="text-block" >
    <img src="assets\images\logos\Omail_SVG-02.svg" style="width:20px;height:20px;background-color: white;" />
   ONPASSIVE NET
    </div>

    <div class="text-logout" class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <h1 class="logout-text">Logout </h1>
        <hr size="1" width="9000%" color="white">
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
    <h1 class="title">You have been successful logged out</h1>
    <button class="btn" type="button">Click here to continue...</button>  
</div>
</div>

