<div  class="bgcolor">

    <div class="text-block" >
    <img src="assets\images\logos\Omail_SVG-02.svg" style="width:20px;height:20px;background-color: white;" />
   ONPASSIVE NET
    </div>

    <div class="text-logout" class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <h1 class="logout-text">Logout </h1>
        <hr size="1" width="9000%" color="white">
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8" style="margin-right: 14em;margin-top: 8em;">
    <h1 class="title">You have successfully logged out</h1>
   
    <button class="btn" type="button">Click here to continue...</button>  
</div>
</div>
