<div class="content" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
  <div fxFlex.xs="100%" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10,11,12]">
    <mat-card class="mat-elevation-z4" style="width:12em;" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <img src="assets/images/jhonwick.jpg" style="width:105px;border-radius: 50%">
          <span>Kalyan Kodapaka</span>
          <span style="text-align: center">Full stack developer at onpassive</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Send message</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>