.mygroup{
    width: 57%;
    left:5.8em;
    margin-top: 3%;
    border-radius: 1em;
    background-image: url("src/assets/images/logos/header_bg.svg");
    background-size: 899px 47px;
    background-repeat: repeat-x;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
 
.employeeName{
    flex: 1;
    font-size: medium;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    word-break: break-all;
}
.list-group-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
    border: none;
}
.list-group {
    border-radius: 0rem; 
}
.list-group-item.active{
    z-index: 2;
    color: #fff;
    background-color: #0b81d6;
}
