<div class="container-fluid">
  <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
           <app-profile ></app-profile>
           <mat-card class="mygroup">
             <mat-card-title style="color: aliceblue;text-align: center;font-size: 19px">Software Developer</mat-card-title>
            <div class="row">
              <div  style="height:250px;overflow-y: scroll;" class="scroll">
                <ul class="list-group ml-3" *ngFor="let product of list">
                  <li class="list-group-item" style="width: 14.9em;height: 3em;margin-left: -15px;display: flex;
                  justify-content: flex-start;
                  align-items: center;">
                        <div>
                          <mat-icon>person</mat-icon>
                        </div>
                        <div style="flex: 1;font-size: medium" class="line-clamp">
                          {{product.value}}
                        </div>
                        <div>
                          <mat-icon>message</mat-icon>
                        </div>
                  </li>
                </ul>
              </div>
            </div>
            </mat-card>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <app-start-post></app-start-post>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <app-news></app-news>
      </div>
  </div>
</div>