.listOfEmployees{
  margin-top: 15.3%;
  right: 6em;
  width: 32em;
  border-radius: 1em;
  padding:0
}
.content { 
  padding: 16px; 
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.example-viewport {
  height: 125%;
  width: 100%;
}

.profilePicAndData{
  border-radius: 1em;
  background-image: url("src/assets/images/logos/header_bg.svg");
  background-repeat: repeat-x;
  background-size: 1169px 61px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
