<div class="adminHome">
    <div class="adminHeader">
        <div class="pl-2 pr-2">
            <span class="home-title">Onpassive Net</span>
        </div>
    </div>
    <div class="adminBody">
        <div class="ab-inner-div cmn_border">
            <div class="ab-inner-side-div cmn_border">
                <div class="navigation">
                    <ul class="snav_tabs">

                        <div *ngFor="let tb of tabs">
                            <ng-container *ngIf="!tb['child']">
                                <li class="snav_tabs">
                                    <a href="javascript:void()" [routerLink]="tb['path']" routerLinkActive="active">
                                        <span>{{tb['name']}}</span>
                                    </a>
                                </li>
                            </ng-container>

                            <ng-container *ngIf="tb['child']">
                                <li class="snav_tabs">
                                    <a href="javascript:void()">
                                        <span>{{tb['name']}}</span>
                                        <span class="float-right">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;"
                                                xml:space="preserve">
                                                <style type="text/css">
                                                    .a_st0 {
                                                        fill: none;
                                                        stroke: #707071;
                                                        stroke-width: 3;
                                                        stroke-linecap: round;
                                                        stroke-linejoin: round;
                                                    }
                                                </style>
                                                <g id="Icon_feather-chevrons-down" transform="translate(-8.379 -6.879)">
                                                    <path id="Path_3" class="a_st0" d="M13.5,24.1l10.2,10.2L34,24.1" />
                                                    <path id="Path_4" class="a_st0" d="M13.5,9.8L23.7,20L34,9.8" />
                                                </g>
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                                <div *ngFor="let c_tb of tb['child']">
                                    <li class="snav_tabs sub_child_li" *ngIf="c_tb['name'] == 'Download Template'">
                                        <a href="javascript:void()" (click)="dowSheetFormat()">
                                            <span>{{c_tb['name']}}</span>
                                        </a>
                                    </li>
                                    <li class="snav_tabs sub_child_li" *ngIf="!(c_tb['name'] == 'Download Template')">
                                        <a href="javascript:void()" [routerLink]="c_tb['path']" routerLinkActive="active">
                                            <span>{{c_tb['name']}}</span>
                                        </a>
                                    </li>
                                </div>
                            </ng-container>
                        </div>

                    </ul>
                </div>
            </div>
            <div class="ab-inner-main-div cmn_border">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>