body {
    font-family: Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
}
  
#toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
}
#mainToolbar .toolbar-spacer {
    flex: 1 1 auto;
}
  
#mainToolbar{
      color: whitesmoke;
      display: flex;
      background-image: url("src/assets/images/logos/header_bg.svg");
}
  
#mainToolbar .toolbar-icon {
    cursor: pointer;
    margin: 0 8px;
}
  
#omIcon{
    width: 100px;
}
 
.toolbar-btns .btn{
    color: whitesmoke;
}
ul {
    list-style: none;
}
.profilePicAndData{
    width: 15em;
    top: 40px;
    left:7em;
    border-radius: 1em;
    background-image: url("src/assets/images/logos/header_bg.svg");
    background-repeat: repeat-x;
    background-size: 2199px 115px;
    

}

  

 