<mat-toolbar id="mainToolbar" style="height: 3.2em;">
  <img id="omIcon" src="assets/images/logos/logo.svg" style="width: 3em"/>
  <input class="form-control form-control-sm" style="margin-left: 32em;" type="text" placeholder="Search"
    aria-label="Search" mdbInput>
  <div>
    <a class='btn' mat-button  routerLink="/">Home <mat-icon>home</mat-icon></a>
    <a class='btn' mat-button>Groups <mat-icon>groups</mat-icon></a>
    <a class='btn' mat-button routerLink="mygroup">My Group <mat-icon>group</mat-icon></a>
    <a class='btn' mat-button>Notifications <mat-icon>notifications_none</mat-icon></a>
    <a class='btn' mat-button>Learning <mat-icon>library_books</mat-icon></a>
    <!-- <button mat-mini-fab color="blue" [matMenuTriggerFor]="belowMenu" class='btn'>KK</button> -->
    <img src="assets/images/logos/jhonwick.jpg" style="width:64px;border-radius: 50%;" [matMenuTriggerFor]="belowMenu" class='btn'>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <div><a class='btn' mat-button>My Profile<mat-icon>person</mat-icon></a></div>
      <div><a class='btn' mat-button>Sign Out<mat-icon>login</mat-icon></a></div>      
    </mat-menu>
  </div>
</mat-toolbar>
<div class="container-fluid">
  <div class="row conten">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <mat-card  class="profilePicAndData">
        <!-- <img src="assets/images/logos/jhonwick.jpg" style="width:90px;border-radius: 50%;margin-left: 49px">
        <div style="padding-top: 20px;margin-left: 35px">
           Kalyan Kodapaka
        </div>
        <p style="padding-top: 20px;margin-left: 20px;font-size: 13px;"> Java Developer at Onpassive </p> -->
        <a> 
          <div>
            <img src="assets/images/logos/jhonwick.jpg" style="width:64px;border-radius: 50%;margin-left: 65px;margin-top: 12px">
          </div>
          <div style="padding-top: 5px;margin-left: 35px;font-weight: 600">
              Kalyan Kodapaka
          </div>
        </a>
        <p style="margin-left: 50px;font-size: 13px;">Java Developer</p>
      </mat-card>
      <!-- <mat-card class="groupAndMygrop">
        <div style="margin-left: 42px">
          <a class='btn' mat-button><mat-icon>groups</mat-icon><span>Groups</span></a>
          <a class='btn' mat-button><mat-icon>group</mat-icon>My Group</a>
          <a class='btn' mat-button><mat-icon>notifications_none</mat-icon>Notifications </a>
       </div>
      </mat-card> -->
      <router-outlet></router-outlet>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <mat-card style="top: 40px;right: 6em;width: 32em;border-radius: 1em">
      <button mat-button  style="width: 34em;color: rgba(0,0,0,.6)" class='btn' (click)="openPostDialog()"><mat-icon>post_add</mat-icon>Start a post</button>
      </mat-card> 
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <mat-card style="width: 19em;top: 40px;background-color:white;right: 2em;border-radius: 1em">
        <span class="t-16 t-black t-normal">OnpassiveNet News</span>
        <ul style="padding-top: 10px;padding: 1em;">
          <li>
            <a href="" id="ember267">
              <div style="font-size: 14px">
                <span style="color: rgba(0,0,0,.9);">Is Tatas' Covid test a game changer?</span></div>
            </a>
            <span style="font-size: 12px;color: rgba(0,0,0,.6);">20h ago • 353 readers</span>
          </li>
          <li>
            <a href="" id="ember267">
              <div style="font-size: 14px">
                <span style="color: rgba(0,0,0,.9);">Do internships matter?</span></div>
            </a>
            <span style="font-size: 12px;color: rgba(0,0,0,.6);">1d ago • 3,884 readers</span>
          </li>
          <li>
            <a href="" id="ember267">
              <div style="font-size: 14px">
                <span style="color: rgba(0,0,0,.9);">Fresh curbs on H-1B visa</span></div>
            </a>
            <span style="font-size: 12px;color: rgba(0,0,0,.6);">3h ago • 1,115 readers</span>
          </li>
          <li>
            <a href="" id="ember267">
              <div style="font-size: 14px">
                <span style="color: rgba(0,0,0,.9);">Ola banned in London</span></div>
            </a>
            <span style="font-size: 12px;color: rgba(0,0,0,.6);">1d ago • 8,860 readers</span>
          </li>

        </ul>
      </mat-card>
    </div>
  </div>
</div>