 <div>
    <h1 mat-dialog-title>Upload Image</h1>
    <div mat-dialog-content *ngIf="photoUploaded" >
        <input type="file" (change)="fileChangeEvent($event)" />
    </div>
    <div class="row" style="height: 16em;width: 21em">
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
            [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
    </div>
    <div mat-dialog-actions style="padding-left: 8em">
        <button mat-button color="primary" *ngIf="!photoUploaded">Upload</button>
        <button mat-button mat-dialog-close color="warn">Close</button>
    </div>
</div>
