<mat-card class="groupAndMygrop">
<div class="row">
  <div  style="height:250px;overflow-y: scroll;" class="col-md-30 scroll mt-30">
    <ul class="list-group ml-3" *ngFor="let product of list">
      <li class="list-group-item" style="width: 13.2em;height: 3em;margin-left: -15px">
          <div>
            <table>
              <tr>
                <td><span class="material-icons" style="margin-left: -0.5em;font-size: 23px"> person</span></td>
                <td><span style='padding-left: 5px;font-size: 14px'>{{product.value}}</span> </td>
              </tr>
            </table>
          </div>
      </li>
    </ul>
  </div>
</div>
</mat-card>