<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <app-profile></app-profile>
      <mat-card class="group">
        <mat-card-title style="color: aliceblue;text-align: center;font-size: 19px">Groups</mat-card-title>
       <div class="row">
         <div  style="height:250px;overflow-y: scroll;" class="scroll">
           <ul class="list-group ml-3" *ngFor="let gplist of groupList;let i = index">
             <li class="list-group-item" style="width: 14.9em;height: 3em;margin-left: -15px;display: flex;
             justify-content: flex-start;
             align-items: center;">
                   <div>
                     <mat-icon>person</mat-icon>
                   </div>
                   <div style="flex: 1;font-size: medium" class="line-clamp">
                    <div (click)="openDialogWithTemplateRef(myDialog,i)">{{gplist.desgdesc}}</div>
                   </div>
             </li>
           </ul>
         </div>
       </div>
       </mat-card>

      <ng-template #myDialog>
        <a class='btn' mat-button (click)="myGroup()">My Group <mat-icon>group</mat-icon></a>
        <button mat-button matDialogClose color="primary">
          <span class="material-icons">
            clear
          </span>
        </button>
        <mat-dialog-content>
          <ul class="list-group ml-3" *ngFor="let gplist of list;let i = index;">
            <li class="list-group-item" style="width: 25.2em;height: 3em;margin-left: -15px">
              <div>
                <table>
                  <tr>
                    <td>
                      <span class="material-icons" style="margin-left: -0.5em;font-size: 23px"> person</span></td>
                    <td>
                      <div><b>{{gplist.name}}</b></div>
                    </td>
                    <td>
                      <div>{{gplist.email}}</div>
                    </td>
                    <td>
                      <a (click)="openGroupChatBox()">
                        <div style="margin-left: 1em;font-size: 23px">
                          <mat-icon> chat</mat-icon>
                        </div>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </li>
          </ul>
        </mat-dialog-content>
        <mat-dialog-actions>

        </mat-dialog-actions>
      </ng-template>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <app-news></app-news>

      <div id="boxes">

        <div id="rightbox">
          <ng-template [ngIf]="indexId == 1 || indexId == 2 || indexId == 3">
            <app-chat></app-chat>
          </ng-template>
        </div>

        <div id="middlebox">
          <ng-template [ngIf]="indexId == 2 || indexId == 3">
            <app-chat></app-chat>
          </ng-template>
        </div>

        <div id="leftbox">
          <ng-template [ngIf]="indexId == 3">
            <app-chat></app-chat>
          </ng-template>
        </div>

      </div>
    </div>
  </div>
</div>