
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
    margin-left: 30%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.card-title{
    color:white;
    font-size: 14px;
    font-weight: 800;
    font-family: sans-serif;
}

.group-names{
    cursor: pointer;
}
.material-icons{
    cursor: pointer;
}
.chat-option{
    cursor: pointer;
}

 #rightbox{ 
    float:right;
} 

#middlebox{ 
    display:inline-block; 

} 
#leftbox { 
   display:inline-block; 
   
}  
.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 10px 24px;
    max-height: 65vh;
    max-width: 100%;
    overflow-x: hidden !important;
}

.group{
    width: 57%;
    left:26%;
    margin-top: 3%;
    border-radius: 1em;
    background-image: url("src/assets/images/logos/header_bg.svg");
    background-size: 899px 47px;
    background-repeat: repeat-x;
}
