.example-card {
    max-width: fit-content;
    max-height: fit-content;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-viewport {
    height: 125%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.video-example {
    width: 480px;
    height: 271px;
    object-fit: cover
}

.likebtn {
    border-radius: 10px;
}


/* kondareddy timeline css starts*/


/* like comment share svg starts*/

.st0 {
    fill: #f73748;
    stroke: #f9b9b9;
}

.st1 {
    fill: #666766;
    stroke: #666766;
}


/* like comment share svg ends*/

.m-actions {
    margin: 0 !important;
}

.post_cm_main {
    display: flex;
}

.post_lcs {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 12px 8px 12px;
}

.post_lcs span {
    font-size: 13px;
    display: block;
    margin: auto;
}

.post_lcs span.likes {
    color: #f73748
}

.post_lcs svg {
    height: 25px;
}

.post_img_vd_pdf img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.parent-text-area {
    min-height: 36px;
    resize: none;
}

.parent-cmnt-sub,
.parent-cmnt-sub:focus,
.parent-cmnt-sub:active {
    background: #0275b1;
    height: 28px;
    line-height: 28px;
    padding: 0px 12px;
}

.comment-main {
    background-color: inherit;
}

.comment-main ul {
    list-style: none;
}

.sub-cmt-img {
    width: 47px !important;
    height: 47px !important;
    border-radius: 50%;
}

.main-cmt-img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}

.border-bottom {
    font-size: 13px;
    border-bottom: 1px solid #d3d3d3;
}

.user-comment {
    background-color: #f3f3f3 !important;
    box-shadow: 0px 5px 8px -4px #c1c1c1;
}

.user-comment-desc,
.user-comment span {
    color: #a0a0a0;
}

.user-comment-desc p {
    font-size: 12px;
    display: inline-block;
}

.send-parent-icon i {
    font-size: 16px;
    background: #f3f3f3;
    padding: 6px 5px;
    border-radius: 50%;
    color: #74C2E1;
    height: 30px;
    width: 30px;
}

.send-child-icon i {
    font-size: 15px;
    background: #f3f3f3;
    padding: 4px 5px;
    border-radius: 50%;
    color: #74C2E1;
    height: 25px;
    width: 25px;
}

.user-comment:before {
    content: "";
    height: 0;
    width: 0;
    top: 0;
    left: -10px;
    position: absolute;
    border-style: solid;
    border-width: 13px 0 0 13px;
    border-color: #f3f3f3 transparent transparent transparent;
}

.parent_cmnt input,
.parent_cmnt textarea {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.child_cmnt input,
.child_cmnt textarea {
    height: 25px;
    line-height: 25px;
    font-size: 13px;
}

.post_child_lcs span {
    font-size: 11px;
    display: block;
    margin: auto;
}

.post_child_lcs span.likes {
    color: #f73748
}

.post_child_lcs svg {
    height: 20px;
}

.user-comment p {
    overflow-wrap: break-word;
}

.prnt_user_title {
    font-weight: bold;
    color: #0275b1;
    font-size: 13px;
}

.par_content {
    font-size: 13px;
}

.chld_user_title {
    font-weight: bold;
    color: #0275b1;
    font-size: 13px;
}

.chld_content {
    font-size: 13px;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13px;
}

 :-moz-placeholder {
    /* Firefox 18- */
    font-size: 13px;
}


/* kondareddy timeline css ends*/