<cdk-virtual-scroll-viewport class="example-viewport" style="
      margin-top: 3.3%;
      right: 6em;
      width: 32em;
      border-radius: 1em;">
  <div *ngFor="let data of postData;let i = index">
    <mat-card class="example-card">
      <mat-card-header>
        <img src="{{backendUrl}}/file/downloadFile/{{data.userProfile}}" mat-card-avatar>
        <mat-card-title>{{data.firstName}} {{data.lastName}}</mat-card-title>
      </mat-card-header>
      <div style="width: 30em;"></div>
      <video style="width: 32em;" *ngIf="data.postFormat==='video'" [autoplay]="true"
        src="{{backendUrl}}/file/downloadFile/{{data.fileName}}" class="video-example" controls
        style="margin-top: 1em;" muted></video>
      <img mat-card-image *ngIf="data.postFormat==='image'" src="{{backendUrl}}/file/downloadFile/{{data.fileName}}"
        alt="Photo of a Shiba Inu" style="margin-top: 1em;width: 32em;">
      <pdf-viewer *ngIf="data.postFormat==='pdf'" src="{{backendUrl}}/file/downloadFile/{{data.fileName}}"
        [show-all]="false" [(page)]="pageVariable" [render-text]="true" [original-size]="false"
        (after-load-complete)="afterLoadComplete($event)" style="display: block;width: 30em;"></pdf-viewer>
      <mat-slider style="width: 30em;" [max]="max" [min]="min" [thumbLabel]="true" *ngIf="data.postFormat==='pdf'"
        (change)="someFucn($event.value)">
      </mat-slider>
      <mat-card-content>
        <p>
          {{data.postContent}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="CommentSection"></div>

        <div class="container">
          <div class="row">
            <div class="col-12 modal-footer buttons">
              <button class="btn btn-success btn-sm pr-2" (click)=countLike(data.postId,i)>Like {{data.likeCount}} </button>

              <ng-container >
                 <button class="btn btn-primary btn-sm pr-2" (click)="showCommentsForm(data.postId)" >Comment {{data.commentCount}}</button>
              </ng-container>

          
            </div>
            <ng-container *ngIf="tmp == data.postId;">
            <div class="col-12" *ngIf="showForm">
              <form [formGroup]="commentsForm" name="commentsForm" (ngSubmit)="onSubmit(data.postId,i)">
                <div class="col-12 col-sm-12 form-group">
                  <textarea formControlName="comment" [(ngModel)]="comment.content"
                    class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-sm btn-primary">Post</button>
                </div>

              </form>

              <div *ngFor="let dataOfUser of commentData" >
               <!-- <textarea value="{{commentByPostId.content}}" readonly class="form-control" cols="80" rows="2"></textarea> -->
                  <mat-card style="background-color:#e4e2e2;">
                    <mat-card-header>
                      <img src="{{backendUrl}}/file/downloadFile/{{dataOfUser.profileImage}}" mat-card-avatar>
                      <mat-card-title style="font-size: 17px;">{{dataOfUser.firstName}} {{dataOfUser.lastName}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p style="margin-top: 7px;padding-left: 4.2em;color: rgba(0,0,0,.6);">
                        {{dataOfUser.content}}
                      </p>
                    </mat-card-content> 
                 </mat-card>
                <!-- <button class="likebtn" (click)="specificCommentLike(commentByPostId.commentId)"><img src="assets\images\logos\like.svg"
                    width="20px" height="20px">
                  <b *ngIf="commentByPostId.commentId == 4">{{commentLikesCount}}</b>
                </button> -->
                <br><br>

              </div>

            </div>
          </ng-container>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
    <br>
  </div>
 </cdk-virtual-scroll-viewport>