<div class="container-fluid" style="overflow-y: auto;height: 32em;">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <app-profile></app-profile>
            <mat-card class="iconsAndName">
                <table style="margin-left: 17%;">
                    <tr>
                        <td><a class='btn' mat-button style="border-bottom-style: none;" routerLink="groups">
                                <mat-icon style="margin-right: 5%;">groups</mat-icon><span>Groups</span>
                            </a></td>
                    </tr>
                    <tr>
                        <td><a class='btn' mat-button style="border-bottom-style: none;" routerLink="mygroup">
                                <mat-icon style="margin-right: 5%;">group</mat-icon><span>My Group</span>
                            </a></td>
                    </tr>
                    <tr>
                        <td><a class='btn' mat-button style="border-bottom-style: none;" routerLink="notification">
                                <mat-icon style="margin-right: 5%;">notifications_none</mat-icon>
                                <span>Notifications</span>
                            </a></td>
                    </tr>
                </table>
            </mat-card>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <app-start-post></app-start-post>
            <app-person-post></app-person-post>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <app-news></app-news>
        </div>
    </div>
</div>