.startpost{
    width: 34em;
    color: rgba(0,0,0,.6)
}
.postcard{
    margin-top: 15.3%;
    right: 6em;
    width: 32em;
    border-radius: 1em
}

/* kondareddy start post css starts*/

.startpost:focus {
    outline: none;
}

/* kondareddy start post css ends*/